# Microsoft Visual Studio Code
.vscode/
.idea/

# MacOS
.DS_Store

# bazel
bazel-bin
bazel-out
bazel-playground
bazel-testlogs

# Python
python/packaging_example/dist/
python/packaging_example/src/*.egg-info/

# Cython
build/
python/cython/*.c
python/cython/*.so

# Scala
.bsp/
.bloop/
.metals/
.scala-build/
target/
*.class

# Tool binaries
bin/
